apiVersion: v1
kind: ConfigMap
metadata:
  name: extra-app-config
data:
  app-config.extra.yaml: |
    app:
      title: "GlobalLogic Backstage"
      baseUrl: https://portal-127-0-0-1.nip.io

    backend:
      baseUrl: https://portal-127-0-0-1.nip.io
      listen:
        port: 7007
      cors:
        origin: https://portal-127-0-0-1.nip.io
        methods: [GET, POST, PUT, DELETE]
        credentials: true
      auth:
        dangerouslyDisableDefaultAuthPolicy: true

    auth:
      environment: production
      providers:
        guest:
          enabled: true
        oidc:
          production:
            metadataUrl: "https://auth-127-0-0-1.nip.io/.well-known/openid-configuration"
            clientId: backstage-client
            clientSecret: ${OIDC_CLIENT_SECRET}
            prompt: auto
            tokenEndpointAuthMethod: client_secret_post
            additionalScopes: openid profile email
    integrations:
      gitea:
        - host: vcs-127-0-0-1.nip.io
          token: ${GITEA_TOKEN}
    catalog:
      useUrlReadersSearch: true
      orphanStrategy: delete
      processingInterval: { minutes: 5 }
      import:
        entityFilename: catalog-info.yaml
        pullRequestBranchName: backstage-integration
      rules:
        - allow: [Component, System, API, Resource, Location, Template, User, Group]
      locations:
        - type: url
          target: https://github.com/BillyMichael/local-developer-platform/blob/main/**/catalog-info.yaml
        - type: url
          target: https://github.com/BillyMichael/local-developer-platform/blob/main/spotify-templates/3-tier-app/template.yaml
    
    techdocs:
      builder: 'local'
      generator:
        runIn: 'local'
      publisher:
        type: 'local'