
backstage:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: ca-issuer
    host: portal-127-0-0-1.nip.io
    tls:
      enabled: true
      secretName: backstage-tls
  backstage:
    image:
      registry: ghcr.io
      repository: billymichael/local-developer-platform
      tag: latest
    extraAppConfig:
    - filename: app-config.extra.yaml
      configMapRef: extra-app-config
    extraEnvVars:
      - name: OIDC_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            name: backstage-oidc-client-secret
            key: password
      - name: AUTH_SESSION_SECRET
        valueFrom:
          secretKeyRef:
            name: backstage-session-secret
            key: password
      - name: GITEA_TOKEN
        valueFrom:
          secretKeyRef:
            name: gitea-admin-token
            key: token
      - name: NODE_EXTRA_CA_CERTS
        value: /etc/ssl/certs/ldp-ca.pem
        
    extraVolumes:
      - name: ca
        configMap:
          name: ca

    extraVolumeMounts:
      - name: ca
        mountPath: /etc/ssl/certs/ldp-ca.pem
        subPath: trust-bundle.pem
        readOnly: true
