argo-cd:
  server:
    insecure: true
    podAnnotations:
      secret.reloader.stakater.com/reload: "argocd-oidc-client-secret"
    ingress:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        cert-manager.io/cluster-issuer: ca-issuer
      hostname: cd-127-0-0-1.nip.io
      tls: true

  global:
    domain: cd-127-0-0-1.nip.io

  controller:
    metrics:
      enabled: true
  serverMetrics:
    enabled: true
  repoServer:
    metrics:
      enabled: true
  applicationSet:
    metrics:
      enabled: true

  dex:
    enabled: false
  configs:
    params:
      server.insecure: 'true'
    cm:
      url: https://cd-127-0-0-1.nip.io
      create: true
      oidc.tls.insecure.skip.verify: 'true'
      resource.customizations.health.networking.k8s.io_Ingress: |
        hs = {}
        hs.status = "Healthy"
        return hs
      oidc.config: |
        name: 'Authelia'
        issuer: 'https://auth-127-0-0-1.nip.io'
        clientID: 'argocd'
        clientSecret: $argocd-oidc-client-secret:password
        cliClientID: 'argocd-cli'
        requestedScopes:
          - 'openid'
          - 'email'
          - 'groups'
        enableUserInfoGroups: true
        userInfoPath: '/api/oidc/userinfo'
    rbac:
      policy.default: 'role:readonly'
      policy.csv: |
        # Platform maintainers get full admin access
        g, platform_maintainers, role:admin

        # Platform users get read-only access (default policy)
       