gitea:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: ca-issuer
    hosts:
      - host: vcs-127-0-0-1.nip.io
    tls:
      - secretName: gitea-server-tls
        hosts:
          - vcs-127-0-0-1.nip.io

  service:
    DISABLE_REGISTRATION: true

  oauth2_client:
    ENABLE_AUTO_REGISTRATION: true

  gitea:
    config:
      security:
        ROOT_CA: /etc/ssl/certs/ldp-ca.pem
      service:
        ENABLE_CAPTCHA: false
        SHOW_REGISTRATION_BUTTON: false
        ENABLE_BASIC_AUTHENTICATION: false
        ENABLE_PASSWORD_SIGNIN_FORM: false
        ENABLE_PASSKEY_AUTHENTICATION: false
      openid:
        ENABLE_OPENID_SIGNIN: false
        ENABLE_OPENID_SIGNUP: true


    oauth:
      - name: "Authelia"
        provider: "openidConnect"
        key: "gitea"
        existingSecret: "gitea-oidc-client-secret"
        autoDiscoverUrl: "https://auth-127-0-0-1.nip.io/.well-known/openid-configuration"
        scopes: "openid profile email groups"


  valkey-cluster:
    enabled: false
  valkey:
    enabled: true

  postgresql-ha:
    enabled: false
  postgresql:
    enabled: true

  extraVolumes:
    - name: ca
      configMap:
        name: ca

  extraVolumeMounts:
    - name: ca
      mountPath: /etc/ssl/certs/ldp-ca.pem
      subPath: trust-bundle.pem
      readOnly: true

  deployment:
    env:
      - name: SSL_CERT_FILE
        value: /etc/ssl/certs/ldp-ca.pem